#Wrapper {
  display: grid;
  grid-template-columns: minmax(0px, 1fr); repeat(6, minmax(0, 150px)) minmax(0px, 1fr)
  font-size: 18px;
  line-height: 1.5;
  background-color: rgb(250, 248, 248);
}
	/* main {
  grid-column: 2 / 8;
  background-color: azure;
} */
header,
footer {
  margin: 1.25rem auto;
  max-width: 760px;
  background-color: #bccaca;
  padding: 1rem;
  color: #fff;
  text-align: center;
}

p img{
    float: right;
    margin: 10px;
    border: 1px solid #fff;
    max-width: auto;

}

.Top ul li {
  text-decoration: none;
}
h1 h2 h3 {
  font-family: 'Lato', sans-serif;
}

p {
  font-family: 'Roboto', sans-serif;
  
}