body {
  font-size: 18px;
  line-height: 1.5;
  background-color: black;
}

header,
nav,
main,
footer {
  margin: 1.25rem auto;
  max-width: 760px;
  background-color: #198c8c;
  padding: 1rem;
}
header,
footer{
    color: #fff;
    text-align: center;
    padding: 1.5rem;
}

p img{
    float: right;
    margin: 10px;
    border: 1px solid #fff;
    max-width: 100px;
}
