
#logo_nav {
    display: block;
    position:relative;
    width: 55%;
    padding: 1rem 2%;
    margin: 1rem 2%;
}
h1, h2, h3 {
    display: grid;
    justify-content: :right;
}
body {
    background-color: #c3d2db;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

header {
    display: block;
    margin:1rem;
    background: #f5f5f5;
    border-radius: 1.2rem;
    padding: .4rem 5rem;
    font-weight: bold;
}

main section {
    display: grid;
    grid-template-columns: 1fr;
    background: whitesmoke;
    margin: 1.5rem;
    padding: 1rem;
    text-align: center;
}
main p, ul {
    font-family: 'Verdana',sans-serif;
}

main div {
    background-color: skyblue;
    padding: 2rem;
    margin: 1rem;
}

footer{
        background: #fff;
        margin: 1.5rem;
        padding: 1rem;
        border-radius: 1.2rem;
        text-align: center;    
}

.cards {

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

section img {
    width: 100%;
    box-shadow: 0 0 40px rgb(59, 58, 58);
}

header,
main,
footer {
    max-width: 1820px;
    margin: 0 auto;
}





